    <div class="container cf">
        <div id="roulette">
            
            <div class="text-left">
                <div class="play-big">
                    ИГРАЙ С НАМИ
                </h1>
                <div class="play-small">
                    Все, кто играет с нами - всегда выигрывают.
                </h3>
                <div class="enter button blue">ВСТУПИТЬ</div>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="sidebar">
            <div class="categories">Категории</div>

            <section class="ac-container">
                <div>
                    <input id="ac-1" name="accordion-1" type="radio">
                    <label for="ac-1">Слоты</label>
                    <article class="ac-small">
                        <p>> Новинки</p>
                        <p>> Популярные</p>
                        <p>> Джекпоты</p>
                        <p>> Прочие</p>
                        <p>> Все</p>
                    </article>
                </div>
                <div>
                    <input id="ac-2" name="accordion-1" type="radio">
                    <label for="ac-2">Настольные</label>
                    <article class="ac-medium">
                        <p>> Все</p>
                        <p>> Новинки</p>
                        <p>> Джекпоты</p>   
                    </article>
                </div>
            </section>

            <div id="games-list">
                <span ng-repeat="game in main.games">                        
                    <a href="#/" rel="nofollow"><img src="images/{{game.filename}}" alt=""></a>
                </span>
            </div>

        </div>
    </div>
