<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" class="wrap container cf">

        <!-- logo -->
        <span id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="images/logo.png" alt=""></a>
        </span>

        <!-- hamburger icon -->
        <responsive-nav></responsive-nav>

        <!-- nav -->
        <nav role="navigation" class="main-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu cf">
                <li><a href="#/home">Главная</a></li>
                <li><a href="#/casino">Казино</a></li>
                <li><a href="#/contact">Контакты</a></li>
            </ul>
        </nav>

        <!-- exit -->
        <span id="exit" class="text-hide h1 pull-right" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="images/exit.png" alt=""></a>
        </span>

        <!-- profile -->
        <span id="profile" class="text-hide h1 pull-right" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="images/face.png" alt=""></a>
        </span>

        <span id="ballance">
            <li >Баланс: <a href="#/">$1000</a></li>
            <li >Бонусы: <a href="#/">$4000</a></li>
        </span>
    </div>
</header>

<div class="responsive-wrapper">
    <ul class="cf responsive-nav option-set">
        <li><a href="#/home">Главная</a></li>
        <li><a href="#/casino">Казино</a></li>
        <li><a href="#/contact">Контакты</a></li>
    </ul>
</div>
