/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $gray;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 0.875rem;
	font-weight: 700;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
}

#inner-header {
	width: 100%;
	padding: 0 50px;
	// text-align: center;

	a {
		font-size: $small;
		color: $link-color;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		// margin-right: 50px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
}

#logo {
	margin: 0.75em 0;
	display: none;

	a {
		color: $white;
	}
}

#profile {
	display: inline-block;
	margin: 10px 0 0 0;
	// float: right;
	a {
		color: $link-color;
	}
}

#exit {
	display: inline-block;
	margin: 12px 0 0 20px;
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	border-bottom: 0;
	margin: 0;
	display: none;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
		}
	}
}

#ballance {
	float: right;
	margin-right: 20px;
	width: 120px;
	li {
		line-height: 10px;
		margin-top: 15px;
	}
}


/*********************
RESPONSIVE NAV
*********************/

.hamburger {

	&:hover,
	&:focus {
		text-decoration: none;
	}
	
	&:before {
		content:'\2261';
		font-size: 24px;
		font-weight: bold;
		color: #555;
	}
}

.responsive-wrapper {

	display: none;

	a {
		display: block;
		width: 100%;
		line-height: 2;
		text-align: center;
		background: #fff;
		color: $text-color;
	}
}

/*********************
MAIN PAGE
*********************/

#content {
	margin-top: 1.5em;
}

.play-big {
	color: white;
	padding: 70px 0 0 20px; 
	font-size: 30px;
	font-weight: bold;
}

.play-small {
	color: white;
	margin: 20px 0 0 0; 
	font-size: 20px;
	font-weight: bold;
	width: 235px;
}

.enter {
	color: white;
	margin: 30px 0 0 0; 
	width: 107px;
}

#roulette {
	background-image: url("/images/roulette-wheel.jpg");
	width: 1000px;
	height: 300px;
}

// slider
.slider {
	margin-bottom: 30px;
}

.image-slider {
	max-height: 400px;

	img {
		width: 100%;
	}
}

.button {
	color: #444444;
	background: #F3F3F3;
	border: 1px #DADADA solid;
	padding: 5px 10px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 12pt;
	outline: none;
}

.button:hover {
	border: 1px #C6C6C6 solid;
	box-shadow: 1px 1px 1px #EAEAEA;
	color: #333333;
	background: #F7F7F7;
}

.button:active {
	box-shadow: inset 1px 1px 1px #DFDFDF;   
}

/* Blue button as seen on translate.google.com*/
.button.blue {
	color: white;
	background: #4C8FFB;
	border: 1px #3079ED solid;
	box-shadow: inset 0 1px 0 #80B0FB;
}

.button.blue:hover {
	border: 1px #2F5BB7 solid;
	box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
	background: #3F83F1;
}

.button.blue:active {
	box-shadow: inset 0 2px 5px #2370FE;   
}


#games-list {
	display: inline-block;
	margin-left: 20px;
	img {
		width: 188px;
	}
	vertical-align: top;
}

.categories {
	margin-top: 20px; 
}


/*Acco*/
.ac-container {
	max-width: 400px;
	display: inline-block;
}

.ac-container label {
	height: 30px !important;
	line-height: 21px !important;
	font-size: 12px !important;
	font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #fff;
	background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
	background: linear-gradient(top,#fff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 0 0 0 1px rgba(155,155,155,0.3),1px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
	font-size: 12px;
	height: 30px;
	line-height: 20px;
}

.ac-container {
	width: 100%;
	text-align: left;
}

.ac-container label:hover {
	background: #fff;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
	background: #f1f2f3;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
	box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
	height: 30px;
	line-height: 21px;
	font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
	background-image: url(../images/arrow_up.png);
}

.ac-container input {
	display: none;
}

.ac-container article {
	background: rgba(255,255,255,0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
	font-style: normal;
	color: #777;
	line-height: 23px;
	font-size: 10px;
	padding-left: 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font: normal normal 12px 'Open Sans';
}

.ac-container input:checked ~ article {
	-webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
	height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
	height: 180px;
}

.ac-container input:checked ~ article.ac-large {
	height: 230px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

